@page "/"

<h1>Hello, world!</h1>

<div><NavLink href="basic-login">Basic Login</NavLink></div>
<div><NavLink href="sign-in-with-button">Login with Google (custom button)</NavLink></div>
<div><NavLink href="authentication-result">Authentication Result</NavLink></div>
<div><NavLink href="logout">Logout</NavLink></div>