@page "/sign-in-with-button"
@using AuthenticationWithGoogle.Utilities;
@inject IJSRuntime JSRuntime

<button type="button" @onclick="SignInWithGoogle">Sign In with Google</button>
JWT: @Test

@code {
    public object Test { get; set; } = "";

    public void SignInWithGoogle()
    {
        DotNetObjectReference.Create()
        GoogleOAuthModule.Initialize(new { client_id = "686658243135-3s5lnkgih8so1ckhbhrntuilp2vrf161.apps.googleusercontent.com" });
        GoogleOAuthModule.Prompt();
    }
}